<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <ng-container *ngIf="userService.users$ | async as users; else loading">
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="userService.deleteUser(user.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </ng-container>
    <ng-template #loading>
      <tr class="table-group-divider">
        <td colspan="5">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
  <tfoot>
    <!-- Row just for the 'create user' action -->
    <tr class="table-group-divider">
      <td colspan="5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Create New User
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <app-create-user></app-create-user>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
